@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Oleo+Script&family=PT+Sans+Narrow&family=Sacramento&display=swap");

* {
  margin: 0;
  padding: 0;
}

.register-main {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* background: linear-gradient(to left, rgba(240, 215, 215, 0.774), #ffe47a); */
}

.reg-right {
  width: 50%;
  height: 100vh;
  float: right;
}

.reg-right > img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 600px;
  margin-top: 5rem;
  position: relative;
  /* left: 4rem; */
  padding: 5px;
}

.reg-left {
  width: 50%;
  height: 100vh;
  float: left;
}

.Register-container {
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 17px;
  margin: 5rem auto;
  backdrop-filter: blur(0);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 5px 5px 10px 10px rgba(45, 55, 68, 0.25);
  box-sizing: border-box;
}

.Register-container > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(66, 53, 53);
  font-family: "Oleo Script", cursive;
  font-weight: 300;
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.input-register {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 8px;
  padding: 4px;
  width: 250px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 0.9rem;
  border-bottom: 1.5px solid black;
  font-family: "Merriweather", serif;
}

::placeholder {
  color: rgb(60, 52, 52);
  opacity: 1;
}

.reg-btn {
  display: block;
  margin: 20px auto;
  width: 150px;
  height: 35px;
  background: linear-gradient(to left, rgba(240, 215, 215, 0.774), #ffe47a);
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  border: none;
  font-size: large;
  box-shadow: 6px 3px 4px rgba(53, 53, 53, 0.363);
  cursor: pointer;
  border-radius: 8px;
}

.reg-btn:hover {
  background: linear-gradient(to left, #11998e, #38ef7d);
}
